$segment-bar-height: 44px;

// Iphone X settings
.scroll-content, .fixed-content {
    margin-bottom: 55px;
    margin-bottom: calc(constant(safe-area-inset-bottom) + 40px);
    margin-bottom: calc(env(safe-area-inset-bottom) + 40px);
}

#back-btn {
    position: absolute;
    top: 5px;
    top: calc(env(safe-area-inset-top) * 0.5);
    left: 5px;
    z-index: 100;
    color: #fff;
    box-shadow: none;
    padding: 10px !important;
    height: 40px;
    border-radius: 0;
    .back-text {
        padding-left: 5px;
        font-size: 12px;
        color: #fff;
    }
    ion-icon {
        font-size: 12px;
    }
}

.toolbar {
    min-height: $segment-bar-height;
}

.segment-buttons {
    padding: 0;
    background-color: transparent;
    .segment-button {
        text-transform: none;
        border: none !important;
        font-size: 0.9em;
        font-family: 'en-heavy';
        padding-top: 8px;
        line-height: 2em;
        color: #fff;
        &.segment-activated {
            border: none !important;
            line-height: 2em;
            color: #fff;
            .divider {
                margin: auto;
                width: 30px;
                height: 2px;
            }
        }
    }
}