<ion-header>
  <!-- Back Bytton -->
	<button id="back-btn" ion-button>
		<ion-icon name="ios-arrow-back"></ion-icon>
		<div class="back-text">Back</div>
	</button>
	
	<!-- Segment toolbar -->
    <ion-toolbar mode="md" class="segment-buttons">
		<ion-segment mode="md" [(ngModel)]="segments">
			<ion-segment-button value="about">
				<div class="segment-name">About</div>
				<div class="divider"></div>
			</ion-segment-button>
			<ion-segment-button value="top5spots">
				<div class="segment-name">Top 5</div>
				<div class="divider"></div>
			</ion-segment-button>
			<ion-segment-button value="partners">
				<div class="segment-name">Partners</div>
				<div class="divider"></div>
			</ion-segment-button>
		</ion-segment>
    </ion-toolbar>
</ion-header>